// 这里之所以定义 html 为 position: relative; 主要为了实现，不论页面高度如何，底部始终在最下面显示

html {
  position: relative;
}

html,
body {
  height: auto;
  min-height: 100%;
}

a {
  transition: color 600ms cubic-bezier(.45, 0, .27, 1);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.scan-attention {
  margin-top: 2.5rem;
  width: 127px;
  text-align: center;

  p {
    margin-top: 1rem;
    font-size: 14px;
    color: rgba(#fff, .3);
  }
}

@media (min-width: 1200px) {
  .rv-container {
    max-width: 960px;
  }
}
