.list {
  &-item {
    margin-top: 6rem;
    border-bottom: 1px solid #292929;

    &:first-child {
      margin-top: 3rem;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &-header {
    font-size: 18px;
  }

  &-section {
    margin: 1.75rem 0 3.125rem;
    color: rgba(#fff, .5);
    font-size: 12px;
    line-height: 2;
  }

  &-item-inner {
    margin-top: 3.125rem;
    padding-bottom: 3.125rem;

    &-title {
      display: flex;
      align-items: flex-end;
      position: relative;
      margin-bottom: 3rem;
      font-size: 18px;
      white-space: nowrap;

      &::after {
        position: absolute;
        top: 2.75rem;
        left: 0;
        content: "";
        height: 0;
        border-bottom: 1px solid #fff;
        vertical-align: middle;
        width: 70px;
      }

      .subtitle {
        margin-left: .5rem;
        color: rgba(#fff, .9);
        font-size: 14px;
      }
    }

    &-header {
      display: flex;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      font-size: 18px;
      white-space: nowrap;

      &-first {
        padding-bottom: 1.4rem;
        border-bottom: 1px solid;
      }

      &-second {
        margin-top: .3125rem;
        margin-left: .5rem;
        color: rgba(#fff, .9);
        font-size: 14px;
      }
    }

    &-intro {
      margin-top: 1.5rem;
      color: rgba(#fff, .5);
      font-size: 12px;
      line-height: 2;
    }
  }
}
