.news {
  &-list {
    margin-top: 2.875rem;
    margin-left: 1.5rem;

    &-title {
      font-size: 18px;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-subtitle {
      margin-top: 1rem;
      color: rgba(#fff, .5);
      font-size: 12px;
      transition: color 600ms cubic-bezier(.45, 0, .27, 1);
    }

    &-intro {
      margin-top: 1rem;
      color: rgba(#fff, .5);
      font-size: 12px;
      line-height: 2;
      transition: color 600ms cubic-bezier(.45, 0, .27, 1);
    }

    &-more {
      display: flex;
      align-content: center;
      margin-top: 1rem;
      padding: 1rem 0;
      font-size: 12px;
      color: rgba(#fff, .5);
      cursor: pointer;
      transition: color 600ms cubic-bezier(.45, 0, .27, 1);

      &::after {
        content: "";
        width: 15px;
        height: 11px;
        margin-top: 3px;
        margin-left: 5px;
        background: url("../../images/arrow-right.png");
      }
    }

    &:hover {
      .news-list-subtitle, .news-list-intro {
        color: rgba(#fff, .8);
      }

      .news-list-more {
        color: #fff;

        &::after {
          background: url("../../images/arrow-right-active.png");
        }
      }
    }
  }

  // 新闻详情
  &-detail {
    margin-top: 2rem;

    .img-fluid {
      width: 688px;
    }
  }

  &-title {
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
  }

  &-subtitle {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 12px;
    color: rgba(#fff, .5);
  }

  &-share {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: rgba(#fff, .5);

    &-icon {
      margin-left: .75rem;
      width: 27px;
      height: 27px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-origin: border-box;
      cursor: pointer;

      &.weixin {
        background-image: url("../../images/share-weixin.png");
      }

      &.weibo {
        background-image: url("../../images/share-weibo.png");
      }
    }

    &-qrcode {
      position: absolute;
      top: 40px;
      width: 160px;
      height: 0;
      box-sizing: content-box;
      border: 1px solid rgba(#fff, .5);
      pointer-events: none;
      opacity: 0;
      transition: opacity 600ms cubic-bezier(.45, 0, .27, 1);

      &.show {
        z-index: 10;
        height: 160px;
        opacity: 1;
      }
    }
  }

  &-content {
    margin-top: 1rem;
    padding: 2rem 0;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    font-size: 12px;
    color: rgba(#fff, .5);
  }

  &-paragraph {
    margin-bottom: 1.5rem;
    text-indent: 2em;
    line-height: 2;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-img {
    text-align: center;
    margin: 3rem auto;
  }

  &-paging {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 12px;
    color: rgba(#fff, .5);

    &-prev {
      display: flex;
      padding: .5rem 0;
      cursor: pointer;
      color: rgba(#fff, .5);

      &::before {
        content: "";
        width: 15px;
        height: 11px;
        margin-top: 3.5px;
        margin-right: .75rem;
        background: url("../../images/arrow-left.png");
      }

      &:hover {
        color: #fff;

        &::before {
          background: url("../../images/arrow-left-active.png");
        }
      }
    }

    &-text {
      width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-next {
      padding: .5rem 0;
      display: flex;
      cursor: pointer;
      color: rgba(#fff, .5);

      &::after {
        content: "";
        width: 15px;
        height: 11px;
        margin-top: 3.5px;
        margin-left: .75rem;
        background: url("../../images/arrow-right.png");
      }

      &:hover {
        color: #fff;

        &::after {
          background: url("../../images/arrow-right-active.png");
        }
      }

      .news-paging-text {
        text-align: right;
      }
    }
  }
}

// 手机端
@media (max-width: 767.98px) {
  .news-share-icon.weixin {
    display: none;
  }

  .news-list {
    margin-left: 0;
  }

  .news-img {
    width: 100%;
  }

  .news-paging {
    flex-direction: column;

    &-prev, &-next {
      justify-content: center;
    }
  }

  .news-paging-text {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .news-detail {
    max-width: 1100px;
  }
}
