@import "common/swiper";
@import "common/page-effect";

.logo-wrapper {
  position: absolute;
  z-index: 100;
  top: 45px;
  left: 135px;

  img {
    display: inline-block;
    width: 106px;
    height: 39px;
  }
}

.image-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.home-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  &-header {
    display: flex;
  }

  &-title {
    font-size: 12px;

    &.left {
      &::after {
        display: inline-block;
        content: ".";
        text-indent: -9999px;
        height: 2px;
        border-bottom: 1px solid #fff;
        transition: width 1100ms cubic-bezier(.65, .06, .19, .96), border 400ms ease-in-out;
        vertical-align: middle;
        width: 100px;
        margin: 0 10px;
      }
    }
  }

  &-subtitle {
    margin: 16px 0 8px;
    font-size: 50px;
    line-height: 1.2;
  }

  &-section {
    font-size: 30px;
    margin-top: 20px;
  }
}

.home-footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0;
  color: rgba(#fff, .5);
  font-size: .75rem;
  text-align: center;
}
